*,
::before,
::after {
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: inherit;
}

html {
  text-rendering: optimizeSpeed;
  font-size: 16px;
}

html:focus-within {
  scroll-behavior: smooth;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul:not([role="list"]),
ol:not([role="list"]),
li,
figure,
figcaption,
blockquote,
dl,
dd,
button,
a,
input,
select,
textarea {
  margin: 0;
}

body,
fieldset,
legend,
caption,
label,
blockquote,
pre {
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

blockquote,
fieldset,
legend,
caption,
button,
input,
textarea,
select,
a {
  outline: transparent;
  background: transparent;
}

blockquote,
fieldset,
legend,
caption,
button,
input,
textarea,
select,
hr {
  border: none;
}

body,
ul:not([role="list"]),
ol:not([role="list"]),
blockquote,
q,
figure,
fieldset,
legend,
caption,
dl,
dd,
li,
hr {
  padding: 0;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary,
hr {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

hr {
  box-sizing: content-box;
  height: 1px;
  border-top: 1px solid currentColor;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

table,
th,
td {
  text-align: left;
}

th {
  font-weight: 700;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

td,
td img {
  vertical-align: top;
}

ul:not([role="list"]),
ol:not([role="list"]) {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;

  height: auto;
}

input,
select {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

strong,
mark {
  font-weight: 700;
}

pre {
  white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 1.1;
}

mark,
img {
  font-style: italic;
}

p {
  text-wrap: pretty;
}

small {
  font-size: 80%;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

button,
input[type="file"],
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea,
select {
  color: inherit;
  font-size: inherit;
}

a,
button,
input[type="submit"],
.dropdown summary {
  -webkit-tap-highlight-color: transparent;
  line-height: normal;
  overflow: visible;

  -webkit-appearance: button;
  appearance: button;
  font-weight: 500;
  --font-weight: 500;
}

input {
  -webkit-appearance: textfield;
  appearance: textfield;
}

textarea {
  -webkit-appearance: textarea;
  appearance: textarea;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
